.header-container {
  position: relative;
}

.header-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9; /* Only background will have opacity */
  border-radius: inherit;
  z-index: -1;
}

.header-content {
  position: relative;
  z-index: 1;
}

